*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  
    background: url(./assets/heatwave-2048x1367.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

.container{
 
    color: white;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container{
   font-weight: 100; 
}
.date-container .time{
    font-size: 70px;
    font-weight: 100;

}


.date-container .date{
    font-size: 30px;
}

.place-container .city{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background-color: rgba(73, 73, 83, 0.6);
    padding: 1em;
    border-radius: 30px;

    max-width: 420px;
    margin: 1em;
    border: 1px solid #eee;
    font-size: 20px;
}
.search{
display: flex;
align-items: center;
justify-content: center;


}

#search-btn{
    font-size: 15px;
   border-radius: 10px;
   
   border: 1px solid rgb(82, 78, 78);
    height: 2.2em;
    width: 3.5em;
    outline: none;
    background-color: #b9a7a7be;
}



.country{
    border: none;
    outline: none;
    padding: 1em 1.5em;
    margin: 10px;
    border-radius: 8px;
    background-color: #f7efef90;
    font-family: inherit;
    font-size: 120%;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}
/*5 days forcast box*/
.future-forcast{
      background: rgba(73, 73, 83, 0.6);
    padding: 10px;
    width: 800px;
    position: relative;
   left: -150px;
bottom: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;

}




/*show hisory search box*/
.citiesList{
   background: rgba(73, 73, 83, 0.6);  
    padding: 20px;
    width: 800px;
    position: relative;
   left: 15px;
   color: white;
    border: 1px solid white;
    border-radius: 8px;
   
}
.history-btn{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    color: white;
    border: none; 
}
.reset-btn{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    color: white;
    border: 2px solid white;   
}
.weather-forcast .weather-forcast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 10px 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    width: 120px;
}

.weather-forcast .weather-forcast-item .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forcast .weather-forcast-item .temp{
    font-weight:100;
}
@media  screen and (max-width:480px ){
    .container{
        padding: 20px;
    }
   .future-forcast{
    justify-content: center;
    width: 300px;
    margin: 0px 10px;
    margin-bottom: 50px;
   } 
  
   .date-container .time{
    font-size: 50px;

   }
   
   .date-container .date{
    font-size: 20px;
   }
   .place-container{
    
    margin-top: 15px;
   }
   .place-container.time-zone{
    font-size: 20px;
   }

   .current-info .others .weather-item{
    font-size: 24px;
   }
}

